/* 右边头部 */
.article {
  width: 700px;
  /* background-color: red; */
  margin-left: 30px;
  margin-top: 20px;
}
.article-hd {
  width: 700px;
  height: 36px;
  line-height: 36px;
  border-bottom: 4px solid #ddd;
}
/* 右边主体 */
.article-bd {
  margin-top: 30px;
}
.article-bd ul {
  width: 700px;
  height: 400px;
}
.article-bd ul li {
  width: 700px;
  height: 40px;
  font-size: 14px;
  display: flex;
  border-bottom: 1px dashed #ddd;
  justify-content: space-between;
  line-height: 40px;
}
.toe {
  margin-top: 80px;
}
